---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
  body, :root {
    color: #BBBBBB;
    background-color: #141617;
  }
  .markdown-body {
    h1, h2 {
      border-bottom-color: #4a4f57;
    }
  }
  a {
    color: #4b9eee;
  }

}